<h3>Sign In</h3>

<form action="/admin" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter username">
    
    <label for="username">Password</label>
    <input type="password" name="password" placeholder="Enter password">

    <button type="submit" class="btn">Log In</button>
    <button type="button" class="btn" onclick="window.location.href='/register'">Sign Up</button>
</form>

