<h3>Register</h3>


<form action="/register" method="post">

    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter username">
    
    <label for="username">Password</label>
    <input type="password" name="password" placeholder="Enter password">

    <button type="submit" class="btn">Resgiter</button>
</form>