<h1>Contact Open Academia</h1>

<p>Have questions, suggestions, or just want to say hello? We'd love to hear from you!</p>

<p>Email: info@openacademia.com</p>

<p>Phone: +91 6969696969</p>

<address>Address:
    Open Academia Headquarters
    NCER</address>

<p>Feel free to reach out, and let's continue the conversation!</p>