<div class="author">
    <h1 class="author__heading">Open Academia</h1>
    <p class="author__body">
        Your Platform, Your Articles, Your Academic Journey
    </p>
</div>

<img src="/img/open-academia.png" alt="takt op. destiny" class="hero-image" height="528" width="981">

<section class="articles">
    <h2 class="articles__heading">Posts</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
         
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>
    </ul>

    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>">&lt; View Older Posts</a>
    <% } %>
</section>