<div class="author">
    <h2 class="author__heading">Search Results</h2>
</div>

<section class="articles">

    <ul class="article-ul">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span><%= post.title %></span>
                    <span class="article-list__data"><%= post.createdAt.toDateString() %></span>
                </a>
            </li>
        <% }) %>

    </ul>

</section>